
<div class="container ">
  <div class="col-xs-12 header_align">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><button type="button" class="btn btn-outline-primary">Home</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary">About</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button type="button" class="btn btn-outline-primary">Services</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link "><button type="button" class="btn btn-outline-primary">Contact</button>
        </a>
      </li>
    </ul>

  </div>
</div>
