
<div class="container ">
  <div class="col-xs-12 header_align">
    <ul class="nav ">
      <li class="nav-item">
    <button type="button" class="btn btn-outline-primary btn_color button_pd"> <a class="nav-link active" routerLink="home"  >Home</a>  </button>

      </li>
      <li class="nav-item">
  <button type="button" class="btn btn-outline-success button_pd ">  <a class="nav-link" routerLink="about" >About</a></button>

      </li>
      <li class="nav-item">
       <button type="button" class="btn btn-outline-danger button_pd"> <a class="nav-link" routerLink="services">Services </a> </button>

      </li>
      <li class="nav-item">
       <button type="button" class="btn btn-outline-info button_pd"> <a class="nav-link" routerLink="contact">Contact </a>   </button>

      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
